ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pip
pytest
python-dotenv
ruff
tqdm
typer

# Library untuk Machine Learning
mlflow
xgboost
pandas
scikit-learn
psycopg2-binary

# Library untuk Observability (Tambahan Baru)
fastapi
uvicorn
prometheus-client